* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: rgb(241, 235, 214);
}

header {
    display: flex;
    border: 3px solid rgb(148, 106, 106);
    font-size: 13px;
    justify-content: space-between;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

nav {
    padding: 30px;
}

nav a {
    margin: 10px;
}

main {
    max-width: 88%;
    margin: 0 auto;
    }

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 2px solid black;
    display: 1 1 1 1;
    background-color: navy;
    border-radius: 10px;
    text-align: center;
    margin-top: 200px;
    justify-content: space-around;
}

.photo1 {
    width: 100%;
    max-height: 100%;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

.photo2 {
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
.photo3 {
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

section>h2 {
    flex-basis: 23%;
    border-right: 4px solid black;
    text-align: right;
    padding-right: 20px;
    font-size: 36px;
}

section>div {
    flex-basis: 77%;
    padding-left: 10px;
}



.work a {
    border: 5px solid black;
    min-height: 180px;
    max-height: 180px;
    flex-basis: calc(50% - 1em);
    margin: 0.5em;
    padding-bottom: 20px;
}

.work a:first-child {
    min-height: 320px;
    flex-basis: 100%;
}

p {
    margin-left: 10px;
    justify-content: left;
}

